* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    height: 100svh;
    background: yellow;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    padding: 0.6vh;
    gap: 0.3vh;
    border-radius: 0.6vh;
    background-color: black;
}

.grid>div {
    --cell-size: min(4.5vh);
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 0.3vh;
    background-color: rgba(83, 92, 0, 0.5);
}

.grid>div.ghost {
    background-color: rgba(255, 255, 255, 0.3);
}

.grid>div.I {
    background-color: orange;
}

.grid>div.J {
    background-color: green;
}

.grid>div.L {
    background-color: orangered;
}

.grid>div.O {
    background-color: white;
}

.grid>div.S {
    background-color: purple;
}

.grid>div.Z {
    background-color: brown;
}

.grid>div.T {
    background-color: pink;
}

.grid>div.I,
.grid>div.J,
.grid>div.L,
.grid>div.O,
.grid>div.S,
.grid>div.T,
.grid>div.Z,
.grid>div.ghost,
.grid>div.sad {
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
        inset -2px -2px 2px rgba(1, 8, 89, 0.2);
}

.grid>div.sad {
    background-color: #f2c35b;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.grid>div.hide {
    animation: hide 0.5s;
}

@keyframes hide {
    0% {
        transform: scale(0.8) rotate(30deg);
    }

    45% {
        transform: scale(0.8) rotate(-30deg);
    }

    90% {
        transform: scale(1) rotate(0);
    }
}